@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    
    
}


.navbarpostt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 100%;
}

.background{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background:url('../assests/images/ku-main.jpg') no-repeat center;
    background-size: cover;
    z-index: -1; 
    filter: blur(10px);
}

.search-container {
  position: absolute;
  /* background-color: red; */
  top:20%;
  right: 10%;
  margin: 10px;
  


 
  
 
}

#search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.bookshelf-container{
    /* background-color: red; */
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 2px;
    align-content: center;
    justify-items: center;
    
}
.heading{
    position: absolute;
    /* background-color: red; */
    top:18%;
    left: 45%;
    color:white;
    font-weight: 1400;
    /* background-color: #111D3E; */

 
}

.book-modal{
    top:25%;
    position: absolute;
    justify-content: center;
    width: 80%;
    display: flex;
    /* background-color: white; */
    margin:2%;
    padding:10px;
    border-radius: 8px;
    color: white;
    max-height: 60vh; 
    overflow-y: auto;
    
    
}
table {
    width: 80%;
    

   
  }

table, th, td {
    
    border: 1px solid white;
    border-collapse: collapse;
  }
 
  
  th {
    position: sticky;
    overflow: hidden;
    padding: 20px;
    background-color: #111D3E;
    z-index: 1;
    padding: 20px;
    
    
  }
  td
  {
    padding: 10px;
    background-color: rgba(24,26,47,0.8);
  }
  .fields th{
    overflow: hidden;
  }