<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registered Users</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/showData.css')}}">
</head>
<body>
  <div class="background"></div>

  <div class="navbarpost">
    {% include 'admin/navbar.html' %}
  </div>

  <h1 class="page-title">Registered Students</h1>

  <div class="searchbox-container">
    <input type="number" id="studentIdd" class="searchbox" placeholder="Search using ID">
    <button class="search-icon-btn" id="searchBtn" disabled>
      <img src="{{url_for('static', filename='assests/icons/loupe.png')}}" alt="Search Icon" class="search-icon">
    </button>
  </div>

  <div class="content">
    <div class="data-container">
      <template id="id-card-template">
        <div class="small-container">
          <div class="id-card">
            <div class="id-photo">
              <img src="" alt="Student Photo">
            </div>
            <div class="id-details">
              <h2></h2>
              <p><strong>Student ID:</strong> <span class="student-id"></span></p>
              <p><strong>DOB:</strong> <span class="dob"></span></p>
              <p><strong>Blood Group:</strong> <span class="blood-group"></span></p>
              <p><strong>Course:</strong> <span class="course"></span></p>
              <p><strong>Year of Enrollment:</strong> <span class="yoe"></span></p>
              <p><strong>Email:</strong> <span class="email"></span></p>
            </div>
            <div class="action-buttons">
              <button class="icon-btn update-btn">
                <img src="{{url_for('static', filename='assests/icons/update.png')}}">
                <span>Update</span>
              </button>
              <button class="icon-btn delete-btn">
                <img src="{{url_for('static', filename='assests/icons/delete.png')}}">
                <span>Delete</span>
              </button>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="login-popup">
      <div class="popup-content">
          <h2></h2>
          <p id="popup-message"></p>
          <button class="close-btn" id="close-popup">Close</button>
      </div>
  </div>
  </div>
  

  <script src="{{url_for('static',filename='js/admin/showData.js')}}"></script>
  <script src="{{url_for('static',filename='js/admin/navbar.js')}}"></script>
</body>
</html>
