<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registered Users</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/showData.css')}}">
</head>
<body>
  <div class="background"></div>

  <div class="navbarpost">
    {% include 'admin/navbar.html' %}
  </div>

  <h1 class="page-title">Registered Students</h1>

  <div class="searchbox-container">
    <input type="text" class="searchbox" placeholder="Search using ID">
    <button class="search-icon-btn">
      <img src="{{url_for('static', filename='assests/icons/loupe.png')}}" alt="Search Icon" class="search-icon">
    </button>
  </div>

  <div class="content">
    <div class="data-container"></div>
  </div>

  <script src="{{url_for('static',filename='js/admin/showData.js')}}"></script>
  <script src="{{url_for('static',filename='js/admin/navbar.js')}}"></script>
</body>
</html>
