<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registered Users</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin/showData.css')}}">
</head>
<body>
  <div class="background"></div>
  <div class="navbarpost">
    {% include 'admin/navbar.html' %}
  </div>

  <div class="content">
    
    <h1 class="page-title">Registered Students</h1>
    <div class="data-container">
      <div class="small-container">Student 1</div>
      <div class="small-container">Student 2</div>
      <div class="small-container">Student 3</div>
      <div class="small-container">Student 4</div>
      <div class="small-container">Student 5</div>
      <div class="small-container">Student 6</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div><div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
      <div class="small-container">Student 7</div>
    </div>
  </div>
  
  <script src="{{url_for('static',filename='js/admin/showData.js')}}"></script>
  <script src="{{url_for('static',filename='js/admin/navbar.js')}}"></script>
</body>
</html>