<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Website{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <style>
      body,html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <main>{% block content %} {% endblock %}</main>
    <script>
      function toggleModal() {
        const modal = document.getElementById("adminModal");
        modal.classList.toggle("active");
      }
    </script>
  </body>
</html>
