<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
</head>
<body>
    <div class="header">
        <img src="{{url_for('static',filename='icons/app-logo.png')}}" alt="KU Logo" class="logo">
        <h1>KU-iCardSIS</h1>
    </div>

    <div class="form-container">
        <h2>Admin Registration</h2>
        <form id="adminForm">
            <div class="form-group">
                <label for="admin-name">Full Name</label>
                <input type="text" id="admin-name" name="admin-name" placeholder="Enter admin full name" required>
            </div>
            <div class="form-group">
                <label for="admin-email">Gmail</label>
                <input type="email" id="admin-email" name="admin-email" placeholder="Enter admin's Gmail" required>
            </div>
            <div class="form-group">
                <label for="admin-status">Admin Status</label>
                <select id="admin-status" name="admin-status" required>
                    <option value="KU-Admin">KU-Admin</option>
                    <option value="Librarian">Librarian</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" id="submitButton" disabled>Submit</button>
            </div>
        </form>
    </div>

    <!-- Placeholder for displaying messages -->
    <div id="popup" class="popupModal" style="display:none;">
        <div class="popup-content">
            <!-- Success/Error Message Section -->
            <div id="popupStatus" style="font-weight: bold; display: flex; align-items: center; margin-bottom: 15px;">
                <span id="popupIcon" style="font-size: 20px; margin-right: 10px;"></span>
                <span id="popupMessage"></span>
            </div>
            <button id="popupContentButton" class="popup-content-button">Close</button>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static',filename='js/admin.js')}}"></script>

</body>
</html>