<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="navbarpostt">
        {% include 'navbar.html' %}
    </div>

    <div class="homepage-container">
        <div class="box" onclick="location.href='#'">
            <img src="{{url_for('static',filename='images/new-register.png')}}" alt="New Student" class="icon-img">
            <span>New Student Registration</span>
        </div>
        <div class="box" onclick="location.href='#'">
            <img src="{{url_for('static',filename='images/edit-database.png')}}" alt="Student Details" class="icon-img">
            <span>Student Details</span>
        </div>
        <div class="box" onclick="location.href='#'">
            <img src="{{url_for('static',filename='images/mobile-query.png')}}" alt="Mobile App Query" class="icon-img">
            <span>Mobile App Query</span>
        </div>
    </div>

    <script>
        function toggleModal() {
          const modal = document.getElementById("adminModal");
          modal.classList.toggle("active");
        }
    </script>
</body>
</html>