<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCardSIS Employees</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}">
</head>
<body>
    <div class="header">
        <div class="logo-title">
            <img src="{{url_for('static',filename='icons/app-logo.png')}}" alt="KU Logo" class="logo">
            <h1>KU-iCardSIS</h1>
        </div>
        <p>iCardSIS Employees</p>
    </div>
    <div class ="registeredUser">
        <button type="button" class="btn btn-outline-dark" id="registeredUserButton">Home</button>
    </div>
    <div class="employee-list" id="employee-list"></div>
    <div id="popup" class="popupModal" style="display:none;">
        <div class="popup-content"></div>
    </div>
    <div id="custom-confirm-dialog" class="popupModal" style="display:none;">
        <div class="modal-content">
            <p id="confirm-message">Are you sure?</p>
            <div class="modal-buttons">
                <button id="confirm-yes" class="btn confirm">Yes</button>
                <button id="confirm-no" class="btn cancel">No</button>
            </div>
        </div>
    </div>     
    <script src="{{url_for('static',filename='js/user.js')}}"></script>
</body>
</html>